<%- include("header") -%>

    <%- include("navbar") -%>

    <div class="heading box">
      <h1>Limit reached</h1>
    </div>
    <div class="box">
      <p>This project serves as a demo.<br>The database can only store a limited number of lists and items to avoid any abuse.</p>
      <form class="" action="<%= listURL %>" method="get">
        <p>
          <button class="btn back" type="submit">Back to the list!</button>
        </p>
      </form>
    </div>

<%- include("footer") -%>
