<%- include("header") -%>

    <%- include("navbar") -%>

    <div class="heading box">
      <h1>Limit reached</h1>
    </div>
    <div class="box">
      <p>This project was only created as a demo.<br>Only limited number of lists and items can be stored in the database in order to avoid any abuse.</p>
      <form class="" action="<%= listURL %>" method="get">
        <p>
          <button class="btn back" type="submit">Back to the list!</button>
        </p>
      </form>
    </div>

<%- include("footer") -%>
